Repository LeSurvivant9/fight-club: changes, and which pre-commit hooks are due for each by the changed paths.
All: sops-auto-encrypt, whitelist-sort-unique

sops-auto-encrypt:
  name: SOPS Auto-Encrypt
  entry: bash ./encrypt-sops.sh
  language: system

whitelist-sort-unique:
  name: Whitelist Sort and Unique
  entry: bash -c 'sort -u -o beets/whitelist.txt beets/whitelist.txt'
  language: system
  pass_filenames: false

fix(docker): remove command from beets service in docker-compose
  beets/docker-compose.yml
Due: none

fix(docker): update sonarr image to use latest version
  sonarr/docker-compose.yml
Due: none

feat(docker): add qui service to docker-compose for media management
  qui/docker-compose.yml
Due: none

fix(docker): update qui service configuration and adjust network settings
  gluetun/docker-compose.yml
  qui/docker-compose.yml
Due: none

fix(autoheal): update service name from qbittorrent to qui in processing script
  webhook/scripts/autoheal.sh
Due: none

feat(docker): add qui service configuration to docker-compose and remove obsolete entries
  gluetun/docker-compose.yml
  qui/docker-compose.yml
  webhook/scripts/autoheal.sh
Due: none

fix(autoheal): update infisical command to use docker exec and adjust .env file path
  webhook/docker-compose.yml
  webhook/scripts/autoheal.sh
Due: none

fix(autoheal): add DOMAIN variable to autoheal script for improved configuration
  webhook/scripts/autoheal.sh
Due: none

chore(docker): remove cross-seed service from docker-compose configuration
  cross-seed/docker-compose.yml
Due: none

fix(docker): remove custom service initialization entries from multiple services in docker-compose
  prowlarr/custom-cont-init.d/scripts_init.bash
  prowlarr/docker-compose.yml
  radarr/custom-cont-init.d/scripts_init.bash
  radarr/docker-compose.yml
  sonarr/custom-cont-init.d/scripts_init.bash
  sonarr/docker-compose.yml
Due: none

feat(docker): add new services and update healthcheck configurations in docker-compose
  README.md
  beets/whitelist.txt
  gluetun/docker-compose.yml
  komodo/docker-compose.yml
Due: whitelist-sort-unique

Remove LIDARR API key from docker-compose
  notifiarr/docker-compose.yml
Due: none

fix(docker): comment out wg-easy service configuration in docker-compose and update whitelist with new genres
  beets/whitelist.txt
  gluetun/docker-compose.yml
Due: whitelist-sort-unique

fix(docker): update environment variables and user configuration for multiple services in docker-compose
  gluetun/docker-compose.yml
Due: none

fix(docker): remove user configuration from multiple services in docker-compose
  gluetun/docker-compose.yml
Due: none

fix(docker): add DNS_ADDRESS and DOT environment variables to gluetun service in docker-compose
  gluetun/docker-compose.yml
Due: none

fix(docker): add PUID and PGID environment variables for multiple services in docker-compose
  gluetun/docker-compose.yml
Due: none

fix(docker): enable privileged mode for service in docker-compose
  gluetun/docker-compose.yml
Due: none

fix(docker): add service health checks for gluetun dependency in docker-compose
  gluetun/docker-compose.yml
Due: none

fix(docker): add FIREWALL_OUTBOUND_SUBNETS environment variable in docker-compose
  gluetun/docker-compose.yml
Due: none

fix(docker): add DNS_KEEP_NAMESERVER environment variable to gluetun service in docker-compose
  gluetun/docker-compose.yml
Due: none

fix(docker): remove unused DNS_ADDRESS variable from gluetun service in docker-compose
  gluetun/docker-compose.yml
Due: none

feat(traefik): add dynamic configuration directory and update secrets file
  traefik/config/dynamic/omv.yml
  traefik/config/traefik.secrets.yml
  traefik/docker-compose.yml
Due: sops-auto-encrypt

fix(traefik): adjust indentation in traefik.secrets.yml for consistency
  traefik/config/traefik.secrets.yml
Due: sops-auto-encrypt

fix(traefik): correct indentation in traefik.secrets.yml for improved readability
  traefik/config/traefik.secrets.yml
Due: sops-auto-encrypt

fix(traefik): remove config.yml reference from docker-compose and update lastmodified timestamp in traefik.secrets.yml
  traefik/config/dynamic/config.yml
  traefik/config/traefik.secrets.yml
  traefik/docker-compose.yml
Due: sops-auto-encrypt

fix(traefik): update environment variables in docker-compose and add middlewares to traefik.secrets.yml
  traefik/config/dynamic/config.yml
  traefik/config/traefik.secrets.yml
  traefik/docker-compose.yml
Due: sops-auto-encrypt

fix(traefik): remove unused contentSecurityPolicy field from dynamic config
  traefik/config/dynamic/config.yml
Due: none

fix(docker-compose): remove WG_HOST and WG_PORT environment variables from service configuration
  gluetun/docker-compose.yml
Due: none

fix(docker-compose): update WG_HOST environment variable configuration for wg-easy service
  gluetun/docker-compose.yml
Due: none

fix(docker-compose): add WG_PORT, PORT, and PASSWORD environment variables for wg-easy service
  gluetun/docker-compose.yml
Due: none

fix(docker-compose): update PASSWORD environment variable to use hashed value
  gluetun/docker-compose.yml
Due: none

Path conditions:
  sops-auto-encrypt: any of: (\.secrets\.ya?ml$)
  whitelist-sort-unique: any of: beets/whitelist\.txt
